.navbar{
    
    color: $smokyblack;
    background-color: $white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__brand{
        width: 6.25rem;
        height: 6.25rem;
        background-color: $smokyblack;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__li{
        display: flex;
        list-style: none;
        font-family:'Raleway', sans-serif;
        font-weight: bold;


    }

    &__link{
        text-decoration: none;
        color: $smokyblack;
        margin-right: 50px;
    }
    &__li{
        
    
        @include phone-view{
            width: 100vw;
                max-height: 0;
                overflow: hidden;
                display: flex!important;
                flex-direction: column;
                justify-content: flex-start;
                background: $smokyblack;
                position: absolute;
                left: 0;
                top: 65px;
                padding: 0;
                transition: all 0.3s ease-in-out;
                color: $white;
                
                // display: none;
                input:checked ~ &{
                    width: 100vw;
                    max-height: 300px;
                    overflow: hidden;
                    display: flex!important;
                    flex-direction: column;
                    justify-content: flex-start;
                    background: $white;
                    position: absolute;
                    left: 0;
                    top: 65px;
                    
                }
    
        }
    }

}

#toggle{
    display: none;
}


.fa-bars{
    display: none;

    @include phone-view{
        display: flex;
        align-items: center;
        font-size: $xx-large;
        margin-right: 1rem;
    }

    
}


